{% include 'common/head.html' %}
<body>

    {% set current = 'privacy' %}
    {% include 'common/navbar.html' %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/privacy.css') }}">

    <main class="page-content reveal">
        <h1>{{ _('privacy policy title') }}</h1>
        <div class="policy-box">
            <p>{{ _('privacy policy') }}</p>
            <div class="policy-footer">{{ _('last updated') }}: 19.11.2025</div>
        </div>
    </main>

    {% include 'common/footer.html' %}

</body>
</html>
